<h1>New Post</h1>

<%= render partial: "shared/errors" %>

<%=
  form_for :post, routes.posts_path do
    div class: "form-group" do
      label :title
      text_field :title, class: "form-control"
    end

    div class: "form-group" do
      label :author
      text_field :author, class: "form-control"
    end

    div class: "form-group" do
      text_area :content, class: "form-control"
    end

    div class: "actions" do
      submit "Create Post"
    end
  end
%>
